.buy-reward-popup-main{
}

.content{
    margin: 1rem 0 ;
    height: calc(100% - 45px - 48px);
    img{
        max-width: 100%;
        max-height: 100%;
    }

    .prod-details{
        padding: 1rem 2rem 0 2rem;
    }
}