<div class="add-task-popup-main">

    <div class="top-bar d-flex justify-content-between">
        <h2 class="headings">Create A New Task</h2>
        <img src="assets/Images/close-popup-icon.svg" width="24" alt="close" type="button" (click)="onClosePopup()" class="close-popup-icon">
    </div>

    <form>
        <br>
        <div class="form-group">
            <label for="task-title">Title</label>
            <input type="text" class="form-control" id="task-title" name="task-title" [(ngModel)]="taskForm.task_title">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <br>
        <div class="form-group">
            <label for="task-description">Description</label>
            <textarea class="form-control" id="task-description" rows="5" name="task-description" [(ngModel)]="taskForm.description"></textarea>
        </div>

        <br>
        <div class="form-group">
            <label for="task-employee">Assign to</label>
            <select name="task-employee" id="task-employee" class="form-select" [(ngModel)]="taskForm.assignedEmployee">
                <option value="{{emp.email}}" *ngFor="let emp of employeeList">{{emp.name}}</option>
            </select>
        </div>

        <br>
        <div class="form-group">
            <label for="task-priority">Priority</label>
            <select name="task-priority" id="task-priority" class="form-select" [(ngModel)]="taskForm.priority">
                <option *ngFor="let op of priorityOptions" value="{{op}}">{{op}}</option>
            </select>
        </div>

        <br>
        <div class="form-group">
            <label for="task-reward">Rewards</label>
            <input type="number" class="form-control" id="task-reward" name="task-reward" [(ngModel)]="taskForm.reward_points" [min]="0">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <br>
        <div class="form-group">
            <label for="task-deadline">Deadline</label>
            <input type="date" class="form-control" id="task-deadline" name="task-deadline" [(ngModel)]="taskForm.deadline" >
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        
            
        <br>
        <div class="form-group w-100 d-flex justify-content-end">
            <button class="btn btn-dark" type="button" (click)="addtask()">Create</button>
        </div>
    </form>


</div>