.training-home-main{
    padding-top: 1rem;
}
h2{
    margin: 1rem;
}
.training-static, .create-assign-trainings{
    padding: 2rem;
}

.create-assign-trainings{
    
    .ca-content{
        margin: 1rem 0;
        form{
            padding: 0 2rem;
            .url-inputs{
                margin: 1rem 0;
                .remove-icon{
                    margin: 0 1rem;
                }
            }
        }
    }
    .card{
        background-color: aliceblue;
    }
}


.employee-trainings{

    margin-top: 2rem;

    .training-navbar{
        background-color: rgb(235, 243, 255);
        box-shadow: rgb(66 66 66 / 42%) 0px -6px 18px -12px;

        .tab{
            margin: 0 1rem;
            padding: 1rem;
            cursor: pointer;
        }
    }
    .trainings-list{
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: lightgray;

        .card{
            margin: 1rem;
            padding: 0.5rem;
            
            cursor: pointer;
            .training-image{
                margin: 1rem 0;
                img{
                    max-width: 100%;
                }
            }
            .training-description{
                margin: 1rem 0;
                padding: 0 1rem;
                .reward{
                    border: 1px solid #343a40;
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                img{
                    margin-right: 1rem
                }
            }
        }
    }

}
    